@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-color: #86d2f2;
  height: 100vh;
}

h1 {
  font-family: "Roboto";
  font-weight: bold;
  color: #1f1d41;
  text-align: center;
  font-size: 40px;
}

button {
  color: white;
  background-color: #1f1d41;
  border-width: 0;
  height: 37px;
  width: 70px;
  border-radius: 10px;
  margin: 20px;
}

.bg-box {
  background-color: #1f1d41;
  height: 250px;
  width: 80px;
  border-radius: 30px;
}

.stopLight {
  background-color: #4b5069;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 30px;
}

.readyLight {
  background-color: #4b5069;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 30px;
}

.goLight {
  background-color: #4b5069;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 30px;
}
