@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.colorPickerContainer {
    text-align: center;
    font-family: "Open Sans";
    background-color: #e0e0e0;
    height: 100vh;
    background-size: cover;
}

h1 {
    font-weight: bold;
}

.button1 {
    height: 80px;
    width: 80px;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    background-color: #e0e0e0;
}

.button2 {
    height: 80px;
    width: 80px;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    background-color: #6fcf97;
}

.button3 {
    height: 80px;
    width: 80px;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    background-color: #56ccf2;
}

.button4 {
    height: 80px;
    width: 80px;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    background-color: #bb6bd9;
}

.bg-color {
    background-color: #222222;
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

span {
    color: #49a6e9;

}